<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
<label class="btn btn-md btn-primary" ng-click="showBomAddDialog()" uncheckable>Add Bill Of Material</label>
<table style="width:100%">
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th>Action</th>
    <th></th>
  </tr>
  <tr ng-repeat="bom in boms">
    <td>{{bom.bomNumber}}</td>
    <td>{{bom.description}}</td>
    <td>
      <label class="btn btn-sm btn-primary" ng-click="showBomUpdateDialog(bom)" uncheckable>Update</label>
      <label class="btn btn-sm btn-danger" ng-click="delete(bom)" uncheckable>Delete</label>
    </td>
    <td>
    </td>
  </tr>
</table>


