<div ng-controller="MainCtrl">
  <table style="width:100%">
    <tr>
      <th>PartNumber</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    <tr ng-repeat="part in parts">
      <td>{{part.corporatePartNumber}}</td>
      <td>{{part.type}}</td>
      <td>{{part.description}}</td>
    </tr>
  </table>

</div>
