<div class="modal-header">
  <h3 class="modal-title">Update BOM</h3>
</div>
<div class="modal-body">
  <label>Description</label>
  <input type="text" ng-model="copiedBom.description">
  <br/>
  <label class="btn btn-primary btn-sm" ng-click="addSelectedPart()" typeahead-editable="false">Add Part</label>
  <input type="text" ng-model="selectedPart" typeahead="part.corporatePartNumber for part in parts | filter:$viewValue | limitTo:8" class="form-control">
  <div class="gridStyle" ng-grid="gridOptions"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="update()">Update</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
